{%load static%}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/hheader.css' %}" />
  </head>

  <body>
    <header class="header">
      <div class="header__menu">
        <a class="header__menu__item homeText" href="#home">MUSE</a>
        <a class="header__menu__item" href=" #notification">소식</a>
        <a class="header__menu__item" href=" #mypage">마이페이지</a>
        <a class="header__menu__item" href=" #community">커뮤니티</a>
      </div>
      <div class="header__menu">
        <a class="header__menu__item" href=" #login">로그인</a>
        <a class="header__menu__item" href=" #join">회원가입</a>
      </div>
    </header>
  </body>
</html>
